<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8" />
  <title>登录</title>
  <link rel="stylesheet" href="static/res/bootstrap/css/bootstrap.css" />
  <link rel="stylesheet" href="static/css/admin.css" />
  <style>
    .login{
      padding-top: 30px;
    }
    .login h1{
      text-align: center;
      color:#fff;
    }
  </style>
</head>
<body>
  <div class="login">
    <div class="page-title">
      <h1>admin 后台管理系统</h1>
    </div>
    <form class="login-wrap">
      <img class="avatar" src="static/img/default.png" />
      <div class="form-group">
        <label for="email" class="sr-only">邮箱</label>
        <input id="email" type="email" class="form-control" placeholder="邮箱"  />
      </div>
      <div class="form-group">
        <label for="password" class="sr-only">密码</label>
        <input id="password" type="password" class="form-control" placeholder="密码" />
      </div>
      <a class="btn btn-primary btn-block log_btn" href="javascript:void(0);">登 录</a>
    </form>
  </div>
  <script src="static/res/jquery/jquery.min.js"></script>
  <script src="static/res/layer/layer.js"></script>
  <script src="static/res/bootstrap/js/bootstrap.js"></script>
  <script src="static/js/login.js"></script>
</body>
</html>
