<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8" />
  <title>修改密码</title>
  <link rel="stylesheet" href="static/res/bootstrap/css/bootstrap.css" />
  <link rel="stylesheet" href="static/res/font-awesome/css/font-awesome.css" />
  <link rel="stylesheet" href="static/css/admin.css" />
  <style>
    .notice{
          margin-bottom: -12px;
          margin-top: 3px;
          color:#ccc;
    }
  </style>
</head>
<body>
  <div class="main">
    <!-- 顶部导航 -->
    <nav class="navbar">
    </nav>
    <!-- 内容区域 -->
    <div class="container-fluid">
      <div class="page-title">
        <h1>修改密码</h1>
      </div>
      <form class="form-horizontal">
        <div class="form-group">
          <label for="old" class="col-sm-3 control-label">旧密码</label>
          <div class="col-sm-7">
            <input id="old" class="form-control old_pwd" type="password " placeholder="旧密码" />
            <p class="notice">请输入原来的密码</p>
          </div>
        </div>
        <div class="form-group">
          <label for="password" class="col-sm-3 control-label">新密码</label>
          <div class="col-sm-7">
            <input id="password" class="form-control new_pwd" type="password" placeholder="6~16位密码" />
            <p class="notice">密码至少8位，要求必须字母、数字加英文符号（不包含空格)</p>
          </div>
        </div>
        <div class="form-group">
          <label for="confirm" class="col-sm-3 control-label">确认新密码</label>
          <div class="col-sm-7">
            <input id="confirm" class="form-control re_newpwd" type="password" placeholder="确认新密码" />
            <p class="notice">再次输入密码</p>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-3 col-sm-7">
            <button type="button" class="btn btn-primary">修改密码</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <!-- 侧边栏 -->
  <div class="aside">
  </div>
 <!-- 引入JS -->
  <script src="static/res/jquery/jquery.min.js"></script>
  <script src="static/res/layer/layer.js"></script>
  <script src="static/res/bootstrap/js/bootstrap.js"></script>
  <script src="static/js/template-web.js"></script>
  <script src="static/res/jquery/md5.min.js"></script>
  <script src="static/js/password_reset.js"></script>
</body>
</html>
