<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8" />
  <title>个人中心</title>
  <link rel="stylesheet" href="static/res/bootstrap/css/bootstrap.css" />
  <link rel="stylesheet" href="static/res/font-awesome/css/font-awesome.css" />
  <link rel="stylesheet" href="static/css/admin.css" />
</head>
<body>
  <div class="main">
    <!-- 顶部导航 -->
    <nav class="navbar">
    </nav>
    <!-- 内容区域 -->
    <div class="container-fluid">
      <div class="page-title">
        <h1>我的个人资料</h1>
      </div>
      <form class="form-horizontal">
        <div class="form-group">
          <label class="col-sm-3 control-label">头像</label>
          <div class="col-sm-6">
            <label class="form-image">
              <input id="avatar" type="file" />
              <img src="static/img/default.png" />
              <i class="mask fa fa-upload"></i>
            </label>
          </div>
        </div>
        <div class="form-group" >
          <label for="email" class="col-sm-3 control-label">邮箱</label>
          <div class="col-sm-6" id="profile_email">
            
          </div>
        </div>
        <div class="form-group" >
          <label for="nickname" class="col-sm-3 control-label">昵称</label>
          <div class="col-sm-6" id="profile_name">
             
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-3 col-sm-6">
            <button class="btn btn-primary">修改密码</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <!-- 侧边栏 -->
  <div class="aside">
  </div>
  <!-- js文件 -->
  <script src="static/res/jquery/jquery.min.js"></script>
  <script src="static/res/bootstrap/js/bootstrap.js"></script>
  <script src="static/js/template-web.js"></script>
  <script src="static/js/profile.js"></script>
  <script id="tmp_email" type="text/html">
    <input id="email" class="form-control" name="email" type="type" value="{{email}}" placeholder="邮箱"  readonly= "true" />
     <p class="help-block">登录邮箱不允许修改</p>
  </script>
   <script id="tmp_name" type="text/html">
      <input id="nickname" class="form-control" name="nickname" type="type" value="{{name}}" placeholder="昵称" readonly= "true" />
       <p class="help-block">限制在 2-16 个字符</p>
  </script>
</body>
</html>
